*{
                                        box-sizing: border-box;                                   
                                   }
.container2{
                                        background-color: black; 
                                        display: flex; 
                                        flex-wrap: wrap;                            
}
.x2{
  height: 600px;
  background:black;
  width: 10%;                         
 }
                           .y2{
                             height: 600px;
                             background:rgb(11,11,11);
                             width: 30%;                           
                           }
                           .z2{
                             height: 600px;
                             width: 10%; 
                             background: black;                          
                           }
                           .f2{
                                        height: 600px;
                                        background:rgb(11,11,11);
                                        width: 50%;          
                           }
                           .about{
                                        font-size: 100px;
                                        color: transparent;
                            
                                        -webkit-text-stroke-width:1px ;
                                        -webkit-text-stroke-color:grey ;
                                        margin-top: 10px;
                                        
                                        
                           }
                           .exp{
                                        color: white;
                                        padding-top: 100px;
                                        z-index: -0;
                                        margin-top:-230px;
                                        font-size: 40px;
                           }
                           .section{
                                       display: flex; 
                                      
                           }
                           .p1{
                                  height: 300px;
                                  width: 100%;

                           }
                           .p2{
                             background-image: url(https://tse2.mm.bing.net/th?id=OIP.eU3pdEUkOSSA07CXjdLt-gHaEK&pid=Api&P=0);  
                             height: 300px;
                             width: 100%;
                             background-size: 100% 100%;

                           }
                           h2{
                                        color: white;
                                        text-align: center;
                           }
                           p{
                                        color: grey;
                                        text-align: center;
                           }