.container10{
                 background-color: rgb(17,17,17);   
                 height: 300px;
                 width: 100%;
                 display: flex;                    
}
.x10{
            height: 300px;
            width: 33.33%;                            
}
.x10{
            height:300px;
            width: 33.33%;                            
}
.x10{
            height: 300px;
            width: 33.33%;                            
 }