.container9{
               display: flex; 
               background-color: black;                        
}
.x9{height: 600px; width: 2.5%;}
.y9{
      background-size: 100% 100%;                                  
      height: 600px;
      width: 30%;                                  
}
.z9{height: 600px; width: 2.5%;}
.f9{
 background-size: 100% 100%;                                       
 height: 600px;
 width: 30%;                                  
}
.n9{height: 600px; width: 2.5%;}
.m9{

          background-size: 100% 100%;                              
          height: 600px;
          width: 30%;                              
}
.l9{height: 600px; width: 2.5%;}